name: Build, Transfer, Load, and Deploy

on:
  push:
    branches: [ test ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build frontend image
        run: |
          docker build --platform linux/amd64 --build-arg NEXT_PUBLIC_BACKEND_URL="https://borsibaar28.zapto.org" -t vanemarendaja-borsibaar-tiim_28-frontend:latest ./frontend
          docker save vanemarendaja-borsibaar-tiim_28-frontend:latest > frontend.tar

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build backend JAR
        run: |
          cd backend
          chmod +x mvnw
          ./mvnw clean package -DskipTests

      - name: Build backend image
        run: |
          docker build -t vanemarendaja-borsibaar-tiim_28-backend:latest ./backend
          docker save vanemarendaja-borsibaar-tiim_28-backend:latest > backend.tar
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts
      - name: Create .env file from secret
        run: |
          printf '%s\n' "${{ secrets.ENV_PRODUCTION_FILE }}" > .env

      - name: Ensure target directory exists on server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }} "mkdir -p /home/${{ secrets.SSH_USER }}/borsibaar/testGA"

      - name: Copy files to server
        run: |
          scp -o StrictHostKeyChecking=no frontend.tar ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SSH_USER }}/borsibaar/testGA/
          scp -o StrictHostKeyChecking=no backend.tar ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SSH_USER }}/borsibaar/testGA/
          scp -o StrictHostKeyChecking=no docker-compose.prod.yaml ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SSH_USER }}/borsibaar/testGA/
          scp -o StrictHostKeyChecking=no .env ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SSH_USER }}/borsibaar/testGA/

      - name: Load images and deploy
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SERVER_IP }} "
            cd /home/${{ secrets.SSH_USER }}/borsibaar/testGA &&
            sudo docker load < frontend.tar &&
            sudo docker load < backend.tar &&
            sudo docker tag vanemarendaja-borsibaar-tiim_28-frontend:latest vanemarendaja-borsibaar-tiim_28-frontend:latest &&
            sudo docker tag vanemarendaja-borsibaar-tiim_28-backend:latest vanemarendaja-borsibaar-tiim_28-backend:latest &&
            sudo docker-compose -f docker-compose.prod.yaml up -d"
